    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">บริการผู้ป่วยนอก</span>
                        <div class="text-900 font-medium text-xl">{{summaryOp[4].visit | number:'':'en'}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user-plus text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{summaryOp[4].people | number:'':'en'}} รายใหม่</span>
                <span class="text-500"> ในปีงบประมาณ</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">บริการผู้ป่วยใน</span>
                        <div class="text-900 font-medium text-xl">{{summaryOp[4].admit | number:'':'en'}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-star text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{summaryOp[4].peopleAdmit | number:'':'en'}} รายใหม่</span>
                <span class="text-500"> ในปีงบประมาณ</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">การส่งต่อผู้ป่วยนอก</span>
                        <div class="text-900 font-medium text-xl">{{summaryOp[4].refer_op | number:'':'en'}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-pink-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-car text-pink-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{summaryIp[4].refer | number:'':'en'}} </span>
                <span class="text-500"> จำนวนการส่งต่อผู้ป่วยใน</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">จำนวนวันนอน</span>
                        <div class="text-900 font-medium text-xl">{{summaryIp[4].losd | number:'':'en'}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{summaryIp[4].bed_rate | number:'':'en'}} %</span>
                <span class="text-500"> อัตราการครองเตียง</span>
            </div>
        </div>
        <div class="col-12 xl:col-12">
            <div class="card">
                <h5>ข้อมูลการให้บริการวันนี้</h5>
                <p-chart type="bar" [data]="chartClinic" [options]="chartOptions"></p-chart>
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>อันดับโรคผู้ป่วยนอก</h5>
                <p-table [value]="topOpDiag" [paginator]="false" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="t_name">กลุ่มโรค <p-sortIcon field="t_name"></p-sortIcon></th>
                            <th pSortableColumn="total">จำนวน <p-sortIcon field="total"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-topOpDiag>
                        <tr>
                            <td style="width: 75%; min-width: 7rem;">{{topOpDiag.t_name}}</td>
                            <td style="width: 25%; min-width: 8rem;">{{topOpDiag.total | number:'':'en'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <h5>อันดับโรคผู้ป่วยใน</h5>
                <p-table [value]="topIpDiag" [paginator]="false" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="t_name">กลุ่มโรค <p-sortIcon field="t_name"></p-sortIcon></th>
                            <th pSortableColumn="total">จำนวน <p-sortIcon field="total"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-topIpDiag>
                        <tr>
                            <td style="width: 75%; min-width: 7rem;">{{topIpDiag.t_name}}</td>
                            <td style="width: 25%; min-width: 8rem;">{{topIpDiag.total | number:'':'en'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>ลูกหนี้วันนี้</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4" *ngFor="let ins of summaryInsurance">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ins.incomeName}}</span>
                            <div class="mt-1 text-600">{{ins.amount | number:'':'en'}}</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-right">
                            <!-- <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '30%'}"></div>
                            </div> -->
                            <span class="text-orange-500 ml-3 font-medium">{{ins.rate | number:'':'en'}} %</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>ข้อมูลการให้บริการ 5 ปีย้อนหลัง</h5>
                <p-chart type="bar" [data]="chartData1" [options]="chartOptions"></p-chart>
            </div>
            <div class="card">
                <h5>ข้อมูลผู้ป่วย 5 ปีย้อนหลัง</h5>
                <p-chart type="bar" [data]="chartIp" [options]="chartOptions"></p-chart>
            </div>
            <div class="card">
                <h5>ข้อมูลอัตราการครองเตียง 5 ปีย้อนหลัง</h5>
                <p-chart type="line" [data]="chartBedRate" [options]="chartOptions"></p-chart>
            </div>

            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Jane Davis
                    <span class="text-700"> has posted a new questions about your product.</span>
                </span>
                    </li>
                </ul>
            </div>

            <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
            [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
           <div>
               <div class="text-blue-100 font-medium text-xl mt-2 mb-3">TAKE THE NEXT STEP</div>
               <div class="text-white font-medium text-5xl">Try PrimeBlocks</div>
           </div>
           <div class="mt-4 mr-auto md:mt-0 md:mr-0">
               <a target="_blank" href="https://www.primefaces.org/primeblocks-ng" class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised">
                   Get Started
               </a>
           </div>
       </div>
        </div>

    </div>

